body {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container > form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.completed {
  background-color: aqua;
}
.post-item {
  border: 1px solid black;
  margin: 5px;
}
.post-item:hover {
  background-color: aqua;
}
